*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #131111;
    color: white;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #131111;
    display: flex;
     justify-content: space-between;
    align-items: center;
    z-index:100; ;
}
.logo{
    position: relative;
    font-size: 25px;
    font-weight: 600;
    color: white;
    text-decoration: none;
}
.logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  background: #131111;
  animation: showright ease forwards 2s;
}
@keyframes showright{
    100%{
        width: 0;
    }
    
}
.navbar a{
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
     margin-left: 20px;
     transition: 2s;
}
.navbar a:hover{
    color: aqua;  
}

.home{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
}
.home-content{
    max-width: 600px;
}
.home-content h1{
    position: relative;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
}
.home-content h3{
    font-size: 32px;
    font-weight: 700;
    color: aqua;
   
}
.home-content p{
    font-size: 20px;
}
.home-content .btn-box{
    display: flex;
    justify-content: space-between;
    width: 270px;
    height: 25px;
    margin-top: 20px;
}
.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 100%;
    background:aqua;
    border: aqua;
    border-radius: 8px;
    font-size: 16px;
    color: #b03939;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;

}
.btn-box a:nth-child(2){
    background: aqua;
    color: #b03939;
}
.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: aqua;
    z-index: -1;
    transition: .5s;
}
.btn-box a:hover::before{
    width: 100%;
    height: 100%;
    background: #131111;
    opacity: 0.5;
    
}
.home-sci{
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}
.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 2px solid blanchedalmond;
    border-radius: 50%;
    font-size: 20px;
    color:aqua;
    text-decoration: none;
   z-index: 1;
    overflow: hidden;
    transition: .5;
}
.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;;
    z-index: -1;
    transition: .5s;
}
.home-sci a:hover::before{
    width: 100%;
    height: 100%;
    background: rgb(79, 213, 213);
}
img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin-right: 50px;
    justify-content: start right;
}
.home-imgHover{
    position: absolute;
    top:5;
    left: 128px;
    width: 400px;
    height: 400px;
    background: transparent;
    border: 2px solid #b03939;
    transition: .5s;
    border-radius:50%;
}
.home-imgHover:hover{
    background:blue;
    opacity: 0.5;
}
.home-content h1::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  background: #131111;
  animation: showright ease forwards 2s
}
.home-content h3::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  background: #131111;
  animation: showright ease forwards 2s
}
.home-imgHover::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  background: blue;
  width: 400px;
    height: 400px;
    border-radius: 50%;
  animation: showright ease forwards 2s
}



